@import "../../style/variables";
@import "../../style/mixin";

.btn{
  position: relative;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color:$black;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1.5px solid transparent;
  box-shadow: 0 .5rem 1rem rgba($black, .15);
  cursor: pointer;
  transition: color .15s ease-in-out, border-color .15s ease-in-out;
  @include button-size(.25rem ,2rem,1rem,5px);
  &.disabled,
  &[disabled]{
    cursor:not-allowed;
    box-shadow: none;
    opacity:  .65 ;
    > * {
      pointer-events: none;
    }
  }
}
.btn-lg{
  @include button-size(.4rem ,2.5rem,1.25rem,6px);
}
.btn-sm{
  @include button-size(.1rem ,1.5rem,.75rem,4px);
}