@import "../../style/variables";
@import "../../style/mixin";

// for light #DAE2F8 #D6A4A4 #ED4264 #FFEDBC
// for dark #085078 #85D8CE #D7DDE8 #928DAB

.btn{
  position: relative;
  display: inline-block;
  font-weight: 350;
  line-height: 1.5;
  color:$black;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 .25rem 0.5rem rgba($black, .15);
  cursor: pointer;
  transition: color .15s ease-in-out, border-color .15s ease-in-out;
  @include button-size(0.35rem ,2.5rem,1rem,3px);
  &.disabled,
  &[disabled]{
    cursor:not-allowed;
    box-shadow: none;
    opacity:  .65 ;
    > * {
      pointer-events: none;
    }
  }
  &:focus,
  &.focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  }
}
.btn-lg{
  @include button-size(0.5rem ,3rem,1.25rem,3px);
}
.btn-sm{
  @include button-size(.2rem ,2rem,.75rem,3px);
}
.btn-primary{
  @include button-style($blue,$blue,$white);
}

.btn-danger{
  @include button-style($danger,$danger,$white);
}
.btn-default{
  @include button-style-default($white,$gray-4,$gray-4,$white,$blue,$blue);
}
.btn-round{
  @include button-size(0.5rem ,2.5rem,.75rem,20px);
  background: linear-gradient(90deg, #3882ff,#ff3882,#ffb538,#3882ff);
  background-size: 400%;
  text-transform: uppercase;
  color: $white;
  z-index: 1;
  &:hover{
    animation: flash 10s infinite;
  }
  &:focus,
  &.focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  }
  &::before{
    content: "";
    position: absolute;
    left: -3px;
    right: -3px;
    bottom: -3px;
    top:-3px;
    background: linear-gradient(90deg, #3882ff,#ff3882,#ffb538,#3882ff);
    background-size: 400%;
    border-radius: 20px;
    filter: blur(15px);
    z-index: -1;
  }

  &:hover::before{
    animation: flash 10s infinite;
  }
}
@keyframes flash {
  100%{
    background-position: -400% 0;
  }
}



.btn-link{
  font-weight: 350;
  color: $link-color;
  text-decoration: none;
  box-shadow: none;
  &:hover{
    color: $blue;
    text-decoration: $blue;
  }
  &:focus,
  &.focus{
    color:$blue ;
    box-shadow: none;
  }

  &:disabled,
  &.disabled{
    color:$gray-3 ;
    pointer-events: none;
  }

}